h1 {
    font-size: 250%;
    border-bottom: 3px solid #000080;
}

h2 {
    font-size: 180%;
    border-bottom: 1px solid #000080;
}

h1, h2, h3, h4, h5, h6 {
    color:#000080;
    font-family: Meiryo, sans-serif;
    font-weight:normal;
}

pre {
    margin-left: 2%;
    margin-right: 2%;
    font-family: Monaco, "Courier New", monospace;
    background-color: #ddddee;
}

body {
    font-family: Meiryo, sans-serif;
}

tt {
    font-family: Monaco, "Courier New", monospace;
}